body {
	background: #000
}

.page-width {
	width: 100%;
}

.banner {
	position: relative;
	top: 0px;

}

.box {
	border: dashed 5px #fff;
	line-height: 400%;
	margin: 0 auto;
	display: block;
	float: none;
	padding: 8%;
	margin-bottom: 40px;
	color: #fff;
}

 img {
	
	/* position: fixed;
	top: 0%; */
    
    display: block;
    margin: 0 auto;
    width: 100%
}


h1 {
	width: 100%;
	display: block;
	margin: 0 auto;
}